.appContainer {
    padding: 5px 0px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    top: 20px;
}

.title {
    font-size:larger;
    font-weight: bold;
}

.searchBar {
    width: 50%;
}

.NotesContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5%;
    padding:20px;
}
